<form #rentalForm="ngForm" *ngIf="rental">
  <table class="table table-striped">
    <tr>
      <td>Start date(YYYY-MM-DD):</td>
      <td>
        <input type="text" name="startDate" class="form-control" [(ngModel)]="rental.startDate">
      </td>
    </tr>

        <tr>
      <td>End date(YYYY-MM-DD):</td>
      <td>
        <input type="text" name="endDate" class="form-control" [(ngModel)]="rental.endDate">
      </td>
    </tr>

    <tr>
      <td>Price:</td>
      <td>
        <input type="text" name="price" class="form-control" [(ngModel)]="rental.price">
      </td>
    </tr>

    <tr>
      <td>
        Available cars:
      </td>
      <td>
        <select [(ngModel)]="rental.car" name="car" class="form-control" [compareWith]="compareCars">
          <option *ngFor="let car of availableCars" [ngValue]="car">
            {{car.brand}} {{car.model}}
          </option>
        </select>
      </td>
    </tr>

  </table>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-default" routerLink="/rentals">Go back</button>
</form>